/*--------------------------*/
/* BASIC SETUP */
/*--------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	background: #fff;
	font-family: "lato", "Arial", sans-serif;
	font-weight: 300;
	font-size: 20px;
	/*The text-rendering CSS property provides information to the rendering engine about what to optimize for when rendering text.*/
	text-rendering: optimizeLegibility;
}

.clearfix {zoom:1}
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
/*#container::after { 
  content: "";
  display: block; 
  clear: both;
}*/
/*--------------------------*/
/* REUSABLE COMPONENTS */
/*--------------------------*/
.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding-top: 80px;
}

.box {
	padding: 1%;

}

/*---- HEADINGS ----*/
h1, h2, h3 {
	color: #5A5A5A;
	font-weight: 400;
	text-transform: uppercase;
}

h1 {
	margin-top: 0;
	color: #fff; 
	font-size: 2.4rem;
	font-weight: 300;
	letter-spacing: 1px;
	word-spacing: 4px;
	margin-bottom: 20px;
}

h2 {
	letter-spacing: 1px;
	word-spacing: 2px;
	text-align: center;
	font-size: 1.8rem;
	margin-bottom: 30px;
}

h2:after {
	content: "";
	display: block;
	height: 2px;
	width: 100px;
	background: #E67E22;
	margin: 0 auto;
	margin-top: 30px;
}

h3 {
	font-size: 1.1rem;
	margin-bottom: 15px;
}

/*---- PARAGRAPH ----*/
p {
	color: #5A5A5A;
	line-height: 145%;
}
.p-long {
	width: 70%;
	text-align: center;
	margin: 0 auto;
	/*70%(w) + 15%(l) + 15%(r) = 100%*/
	/*margin-left: 15%;
	margin: 0 15% 30px 15%;*/
	font-weight: 500;
}

.box p {
	font-size: 0.95rem;
}

.works-step p {
	font-weight: 500;
	letter-spacing: 0.5px;
}
/*---- ICONS ----*/
.icon-big {
	font-size: 350%;
	display: block;
	color: #E67E22;
	margin-bottom: 10px;
}

/*---- BUTTONS ----*/
.btn:link,
.btn:visited {
	display: inline-block;
	color: #fff;
	text-align: center;
	padding: 10px 30px;
	border-radius: 200px;
	text-decoration: none;
	outline: none;
	border: 1px solid #E67E22;
}

.btn-1:link,
.btn-1:visited {
	background: #E67E22;
	margin-right: 15px;
}

.btn-2:link,
.btn-2:visited {
	color: #E67E22;
}

.btn:hover,
.btn:active {
	color: #fff;
	background: #cf6d17;
	border: 1px solid #cf6d17;
	/*all - background-color, border, color*/
	transition: all 0.3s; 
}

/*--------------------------*/
/* HEADER */
/*--------------------------*/
header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/hero.jpg");
	background-position: center center;
	background-size: cover; 
	background-repeat: no-repeat;
	height: 100vh;
}

.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	/*https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/translate*/
	transform: translate(-50%, -50%);
}

/*---- LOGO ----*/
.logo {
	height: 110px;
	width: auto;
	float: left;
	margin-top: 20px;
}

/*---- NAVIGATION ----*/
.main-nav {
	float: right;
	list-style: none;
	margin-top: 55px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	text-decoration: none;
	text-transform: uppercase;
	padding: 8px 0;
	color: #fff;
	font-weight: 500;
	font-size: 0.9rem;
	border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid #E67E22;
	transition: border-bottom 0.3s;
}

/*--------------------------*/
/* FEATURES SECTION */
/*--------------------------*/
.section-features .p-long {
	margin-bottom: 30px;
}

/*--------------------------*/
/* MEALS SECTION */
/*--------------------------*/
/*-----ul-----*/
.meals-showcase {
	list-style: none;
	width: 100%;
}
/*-----li-----*/
.meals-showcase li {
	width: 25%;
	display: block;
	float: left;
}
/*-----figure-----*/
.meal-photo {
	width: 100%;
	margin: 0;
	/*https://developer.mozilla.org/en-US/docs/Web/CSS/overflow*/
	overflow: hidden;
	background: #000;
}
/*-----img-----*/
.meal-photo img {
	opacity: 0.7;
	width: 100%;
	height: auto;
	transform: scale(1.15);
	transition: transform 0.5s;	
}

.meal-photo img:hover {
	opacity: 1;
	transform: scale(1.05);
}

/*--------------------------*/
/* HOW IT WORKS */
/*--------------------------*/

.section-steps {
	background: #EBEBEB;
	padding-bottom: 80px;
}
/*-----right column-----*/
.steps-box:first-child {
	text-align: right;
	padding-right: 3%;
	margin-top: 30px;
}
/*-----left column-----*/
.steps-box:last-child {
	padding-left: 3%;
	margin-top: 70px;
}
/*-----iPhone app screen-----*/
.app-screen {
	width: 40%;
	height: auto;
	margin-right: 45px;
}

.works-step {
	margin-bottom: 50px;
}

.works-step:last-of-type {
	margin-bottom: 40px;
}
/*-----circle steps-----*/
.works-step div {
	color: #E67E22;
	display: inline-block;
	border: 2px solid #E67E22;
	padding: 8px;
	width: 55px;
	height: 55px;
	font-size: 1.5rem;
	text-align: center;
	border-radius: 50%;
	float: left;
	margin-right: 15px;
}
/*-----buttons download-----*/
.btn-app img {
	height: 50px;
	margin-right: 10px;
}


