/*--------------------------*/
/* BASIC SETUP */
/*--------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	background: #fff;
	font-family: "lato", "Arial", sans-serif;
	font-weight: 300;
	font-size: 20px;
	/*The text-rendering CSS property provides information to the rendering engine about what to optimize for when rendering text.*/
	text-rendering: optimizeLegibility;
}

.clearfix {zoom:1}
.clearfix:after {
	content: "Clearfix right here";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
/*#container::after { 
  content: "";
  display: block; 
  clear: both;
}*/
/*--------------------------*/
/* REUSABLE COMPONENTS */
/*--------------------------*/
.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding-top: 80px;
}

.box {
	padding: 1%;

}
.section-spacing {
	padding-bottom: 80px;
}
/*---- HEADINGS ----*/
h1, h2, h3 {
	color: #5A5A5A;
	font-weight: 400;
	text-transform: uppercase;
}

h1 {
	margin-top: 0;
	color: #fff; 
	font-size: 2.4rem;
	font-weight: 300;
	letter-spacing: 1px;
	word-spacing: 4px;
	margin-bottom: 20px;
}

h2 {
	letter-spacing: 1px;
	word-spacing: 2px;
	text-align: center;
	font-size: 1.8rem;
	margin-bottom: 30px;
}

h2:after {
	content: "";
	display: block;
	height: 2px;
	width: 200px;
	background: #E67E22;
	margin: 0 auto;
	margin-top: 30px;
}

h3 {
	font-size: 1.1rem;
	margin-bottom: 15px;
}

/*---- PARAGRAPH ----*/
p {
	color: #5A5A5A;
	line-height: 145%;
}
.p-long {
	width: 70%;
	text-align: center;
	margin: 0 auto;
	/*70%(w) + 15%(l) + 15%(r) = 100%*/
	/*margin-left: 15%;
	margin: 0 15% 30px 15%;*/
	font-weight: 500;
}

.box p {
	font-size: 0.95rem;
}

.works-step p {
	font-weight: 500;
	letter-spacing: 0.5px;
}
/*---- ICONS ----*/
.icon-big {
	font-size: 350%;
	display: block;
	color: #E67E22;
	margin-bottom: 10px;
}

.icon-small {
	display: inline-block;
	width: 30px;
	text-align: center;
	color: #E67E22;
	font-size: 1.2rem;
	/*secret to align text and icons*/
	vertical-align: middle;
	line-height: 120%;
	margin-top: -5px;
	margin-right: 10px;
}
/*---- LINKS ----*/
a:link,
a:visited {
	color: #E67E22;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #E67E22;
	transition: border-bottom 0.3s, color 0.3s;
}

a:hover,
a:active {
	color: #cf6d17;
	border-bottom: 1px solid transparent;
}
/*---- BUTTONS ----*/
.btn:link,
.btn:visited,
input[type="submit"] {
	display: inline-block;
	color: #fff;
	text-align: center;
	padding: 10px 30px;
	border-radius: 200px;
	text-decoration: none;
	outline: none;
	border: 1px solid #E67E22;
}

.btn-1:link,
.btn-1:visited,
input[type="submit"] {
	background: #E67E22;
	margin-right: 15px;
}

.btn-2:link,
.btn-2:visited {
	color: #E67E22;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
	color: #fff;
	background: #cf6d17;
	border: 1px solid #cf6d17;
	/*all - background-color, border, color*/
	transition: all 0.3s; 
}

/*--------------------------*/
/* HEADER */
/*--------------------------*/
header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/hero.jpg");
	background-size: cover; 
	background-attachment: fixed;
	height: 100vh;
}

.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	/*https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/translate*/
	transform: translate(-50%, -50%);
}

/*---- LOGO ----*/
.logo {
	height: 110px;
	width: auto;
	float: left;
	margin-top: 20px;
}

/*---- NAVIGATION ----*/
.main-nav {
	float: right;
	list-style: none;
	margin-top: 55px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	text-decoration: none;
	text-transform: uppercase;
	padding: 8px 0;
	color: #fff;
	font-weight: 500;
	font-size: 0.9rem;
	border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid #E67E22;
	transition: border-bottom 0.3s;
}

/*--------------------------*/
/* FEATURES SECTION */
/*--------------------------*/
.section-features .p-long {
	margin-bottom: 30px;
}

/*--------------------------*/
/* MEALS SECTION */
/*--------------------------*/
/*-----ul-----*/
.meals-showcase {
	list-style: none;
	width: 100%;
}
/*-----li-----*/
.meals-showcase li {
	width: 25%;
	display: block;
	float: left;
}
/*-----figure-----*/
.meal-photo {
	width: 100%;
	margin: 0;
	/*https://developer.mozilla.org/en-US/docs/Web/CSS/overflow*/
	overflow: hidden;
	background: #000;
}
/*-----img-----*/
.meal-photo img {
	opacity: 0.7;
	width: 100%;
	height: auto;
	transform: scale(1.15);
	transition: transform 0.5s;	
}

.meal-photo img:hover {
	opacity: 1;
	transform: scale(1.05);
}

/*--------------------------*/
/* HOW IT WORKS SECTION */
/*--------------------------*/
.section-steps {
	background: #EBEBEB;
}
/*-----right column-----*/
.steps-box:first-child {
	text-align: right;
	padding-right: 3%;
	margin-top: 30px;
}
/*-----left column-----*/
.steps-box:last-child {
	padding-left: 3%;
	margin-top: 70px;
}
/*-----iPhone app screen-----*/
.app-screen {
	width: 40%;
	height: auto;
	margin-right: 45px;
}

.works-step {
	margin-bottom: 50px;
}

.works-step:last-of-type {
	margin-bottom: 40px;
}
/*-----circle steps-----*/
.works-step div {
	color: #E67E22;
	display: inline-block;
	border: 2px solid #E67E22;
	padding: 8px;
	width: 55px;
	height: 55px;
	font-size: 1.5rem;
	text-align: center;
	border-radius: 50%;
	float: left;
	margin-right: 15px;
}
/*-----buttons download-----*/
.btn-app:link,
.btn-app:visited {
	border: none;
}

.btn-app img {
	height: 50px;
	margin-right: 10px;
}

/*--------------------------*/
/* CITIES SECTION */
/*--------------------------*/
.section-cities .row {
	max-width: 100%;
	margin: 0 60px;
}

.box img {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.city-feature {
	margin-bottom: 5px;
}

/*--------------------------*/
/* TESTIMONIALS SECTION */
/*--------------------------*/
.section-testimonials {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back-customers.jpg);
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
}

.section-testimonials h2 {
	color: #fff;
	font-weight: 300;
}

blockquote {
	padding: 2%;
	font-style: italic;
	line-height: 145%;
	position: relative;
	margin-top: 40px;
}

blockquote:before {
	/*https://css-tricks.com/snippets/html/glyphs/*/
	content: "\201C";
	display: block;
	font-size: 400%;
	position: absolute;
	top: -5px;
	left: -5px;
}

cite {
	display: block;
	font-size: 0.9rem;
	margin-top: 25px;
}

cite img {
	height: 45px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
}

/*--------------------------*/
/* PLAN SECTION */
/*--------------------------*/
.section-plans {
	background: #EBEBEB;
}

.plan-box {
	background: #fff;
	border-radius: 10px;
	width: 90%;
	margin-left: 5%;
	box-shadow: 0 2px 5px #888;
}

.plan-box div {
	padding: 15px;
	border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
	background: #F7F7F7;
	border-top-right-radius: inherit;
	border-top-left-radius: inherit;
	/*border-top-left-radius: 10px;
	border-top-right-radius: 10px;*/
}

.plan-box div:last-of-type {
	text-align: center;
	border: none;
}

.plan-box ul {
	list-style: none;
}

.plan-box ul li {
	padding: 5px 0;
}

.plan-price {
 	font-size: 300%;
 	margin-bottom: 10px;
 	color: #E67E22;
}

.plan-price span {
	font-size: 40%;
}

.plan-price-meal {
 	font-size: 1rem;
}

/*--------------------------*/
/* FORM SECTION */
/*--------------------------*/

.contact-form {
	width: 60%;
	margin: 0 auto;
}

.contact-form div label {
	margin-left: 15%;
}

input[type="text"],
input[type="email"], 
select, 
textarea {
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid gray;
}

textarea {
	height: 100%;
}

input[type="checkbox"] {
	margin: 10px 5px 10px 0;
}

*:focus {outline: none;}

.label-form {
	margin-left: 30%;
}